<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
     <commerce.carts.addCartLines>       
        <processor patch:before="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddCartLines, Sitecore.Commerce.Engine.Connect']"
                   type="Sitecore.Commerce.Examples.Pipelines.Cart.SetCustomFieldsByCommand, Sitecore.Commerce.Examples">
        </processor>        
      </commerce.carts.addCartLines>
      <translate.orderToEntity>
        <processor  patch:after="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Orders.TranslateOrderToEntity, Sitecore.Commerce.Engine.Connect']"
                    type="Sitecore.Commerce.Examples.Pipelines.Orders.TranslateOrderEntity, Sitecore.Commerce.Examples">
          <param ref="entityFactory" />
        </processor>
      </translate.orderToEntity>
    </pipelines>
  </sitecore>
</configuration>